# Laravel
api/.env
api/vendor/
api/node_modules/
api/storage/logs/*.log
api/storage/framework/cache/data/*
api/storage/framework/sessions/*
api/storage/framework/views/*
api/bootstrap/cache/*.php
api/public/hot
api/public/storage
api/.phpunit.cache/
api/database/database.sqlite

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
